[submodule "H5-PUZZLE-NeonDrift-v1"]
	path = H5-PUZZLE-NeonDrift-v1
	url = https://github.com/kyungho-lee/H5-PUZZLE-NeonDrift-v1.git

[submodule "samegame-grid-protocol"]
	path = samegame-grid-protocol
	url = https://github.com/kyungho-lee/H5-PUZZLE-SameGame.git
[submodule "H5-PUZZLE-EarthBeyond"]
	path = H5-PUZZLE-EarthBeyond
	url = https://github.com/kyungho-lee/H5-PUZZLE-EarthBeyond.git
